<div class="card">
  <div>
    <a style="font-size: 1.5rem; background-color: rgb(16, 48, 88);">{{topic}}</a>
    <p class="time"><i>Posted by {{user.name}} on {{format_date date_created}}</i></p>
  </div>
  <div>
    <p> {{description}}</p>
  </div>
  {{#if logged_in}}
  <p>
    <button class="btn btn-primary">Add a Comment</button>
  </p>
  {{/if}}
</div>

<script src="../public/js/comment.js"></script>