<div class="card">
  <div>
    <a style="font-size: 1.5rem; background-color: rgb(16, 48, 88);">{{singlePost.topic}}</a>
    <p class="time"><i>Posted by {{post.name}} on {{format_date singlePost.date_created}}</i></p>
  </div>
  <div>
    <p> {{singlePost.description}}</p>
  </div>
  {{#if logged_in}}
  <p>
    <button class="btn btn-primary add-comment">Add a Comment</button>
  </p>
  {{/if}}
</div>

<script src="../public/js/comment.js"></script>
<script src="../public/js/post.js"></script>